* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border: 2px solid salmon;
}
.boxes {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
